.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*
.RNavbarText{
  font-size: 20px;
  color: navy;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
*/

.linkIcon{
  /*
  border: 1px solid #888;
  border-radius: 8px;
  */
  text-align: center;
  padding-right: 0px;
  padding-left:10px
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.experience-image{
  border-radius:8px;
  height:400px;
}

.jumbo-translucent{
  background:"rgba(62, 224, 191, 0.8)"
}

.shadow-text{
  text-shadow: rgb(21, 0, 255) 2px 0 10px;
}